.cardContainer {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cardContainer span {
    width: 90%;
    justify-self: center;
    text-align: center;
    color: lightgrey;
}

.coinCard {
    width: 40%;
    height: 80px;
    margin: 5px auto;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgb(255,255,255);
    background: linear-gradient(315deg, #E1E9EC 0%, #B2DBEB 69%);
    box-shadow: 5px 4px 21px 0px rgba(0,0,0,0.1);
}

/* Aligns the middle item on the card in the exact center of the card */
.coinCardBox {
    flex: 1;
    display: flex;
    justify-content: center;
}

.coinCardSymbol {
    margin-right: auto;
}

.coinCardTotal {
    margin-left: auto;
}

@media screen and (max-width: 500px) {
    .coinCard {
        width: 100%;
        font-size: 0.9rem;
        padding: 10px;
    }
}